<div class="footer"><div class="icons">
    <a href="#"><img src="assets/instagram.png" width="35px" height="35px"></a>
    <a href="#"><img src="assets/facebook.png" width="35px" height="35px"></a>
    <a href="#"><img src="assets/whatsapp.png" width="35px" height="35px"></a>
    <a href="#"><img src="assets/twitter.png" width="35px" height="35px"></a>
    
</div><div class="legal">
    
    <ul class ="ul">
        <h5>LEGAL</h5>
   <li><a href="#">Terms & Conditions</a></li> 
   <li><a href="#">Privacy Policy</a></li> 
   <li><a href="#">Terms of use</a></li> 
</ul>  
</div></div>