<div class="services">
    
<ul class="list">
    <h3>My Awesome Services</h3>
    <li>Responsive Web Design</li>
    <li>Landing Page Design</li>
    <li>Dynamic Website Design</li>
    <li>Static Website Designing</li>
    <li>Web maintenance</li>
    <li>eCommerce Website</li>
    <li>Development</li>
    <li>Wordpress website Design</li>
    <li>Web hosting</li>
    <li>Open Source Development</li>
    <li>Payment Gateway</li>
</ul>
<div class="img"><img src="assets/ser.png" width="200px" height="200px" ></div>

</div>